{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <form action="/update_carrito/{{carrito.ID}}" method="POST">
        <div class="form-group">
          <input type="text" name="fecha_creacion" value="{{carrito.Fecha_Creacion}}" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="estado" value="{{carrito.Estado}}" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Actualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
